@charset "utf-8";


.fondor{
	height: 100vh;
	/*background: rgb(249,242,242);
	background: radial-gradient(circle, rgba(249,242,242,1) 10%, rgba(158,227,255,1) 40%, rgba(110,186,255,1) 55%, rgba(57,40,193,1) 72%, rgba(36,26,116,1) 86%);*/ 
	background: rgb(177,143,80);
background: linear-gradient(180deg, rgba(177,143,80,1) 3%, rgba(255,213,158,0.8633520302652311) 32%, rgba(57,40,193,0.7877217781643908) 65%, rgba(36,26,116,1) 99%); 
	
	
	
}


.cprincipal{
    width: 100%;
	border-right:1px solid white;
	border-radius: 15px 0 0 0;
	
    
}

.cincodias{
    width: 100%;
    
}
.cincodias h4{
    width: 100%;
    text-align: center;
}


.infoprin{
    width: 100%;
    float: left;
    margin-top: 25px;
    font-size: 32pt;
 
}


.refrescar{
    width: 6%;
	float: right;
	margin: 10px; 
	
	
   
}

.sarrow-active{
	 width: 6%;
	float: right;
	margin: 10px;
	animation-name: spin;
	animation-iteration-count: 1;
    animation-timing-function: linear;
  	animation-duration: 1000ms;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}



.tempactual{
    margin-top: 25px;
    float: right;
	text-align: right;
  
}

.imgprin{
  width: 40%;  
}

.imgdias{
  width: 90%;  
}

.detallesActual{
    width: 100%;
    padding: 0;
	margin:0;
    text-align: center;
    font-size: 12pt;
	color: white;
	
}
.detallesActual th{
    font-weight: normal;     
    font-size: 18pt;
}


.imgcurrent{
	width:10vw;
}

.piedepagina{
	bottom: 0;
	background-color: black;
	opacity: 0.8;
	position: absolute;
	height: 4%;
}

.cdatos{
	background-color: darkblue;
	opacity: 0.6;
	color: white;
	border-radius: 15px 15px 0 0;
	
}

.secDatos{
	background-color: darkblue;
	border-top: 1px solid white;
	opacity: 0.6;
	color: white;
	border-radius: 0 0 15px 15px;
    text-align: center;
	
}
.pronostico2{
	padding-top: 25px;
	text-align: center;
}
#cabezera{
	height: 4%;
	background-color: #000000;
	opacity: 0.8;
	margin-bottom: 26px;
}

#imglogo{
    width: 100%;
}

#usuario{
   
    margin-top: 10px;
    width: 100%;
}

#clave{
    margin-top: 10px;
    width: 100%;
}

#blogin{
    margin-top: 6px;
    width: 100%;
}

#bregister{
    margin-top: 6px;
    width: 100%;
}